<header class= "header">
  <div class = "header__logo">Conneciting 〜＃田舎と繋がろう〜
    <img width="80" height="80" src="http://kojincafe.com/wp-content/themes/ver201412_theme/images/mbbt_entry.png" alt="無料掲載お申込み" class="entry">
  </div>
</header>

<div class = "tweets">
  <div class="tweet">
    <div class="tweet__name">
      Gypsy’s mile cafe
    </div>

    <div class="tweet__image">
      <img width="310" height="232" src="http://kojincafe.com/wp-content/uploads/2020/04/E7F3FE80-E277-4DBE-B334-546D66D1CA41-310x232.jpeg" class="attachment-medium colorbox-13811  wp-post-image" alt="E7F3FE80-E277-4DBE-B334-546D66D1CA41">                </a>
    </div>
        
    <div class="tweet__text">
      群馬県前橋市　
      スタッフ募集中 未経験歓迎 緑豊かな自然の中で一緒に働きましょう
    </div>
  </div>

 <div class="tweet">
    <div class="tweet__name">
      Gypsy’s mile cafe
    </div>

    <div class="tweet__image">
      <img width="310" height="232" src="http://kojincafe.com/wp-content/uploads/2020/04/E7F3FE80-E277-4DBE-B334-546D66D1CA41-310x232.jpeg" class="attachment-medium colorbox-13811  wp-post-image" alt="E7F3FE80-E277-4DBE-B334-546D66D1CA41">                </a>
    </div>
        
    <div class="tweet__text">
      群馬県前橋市　
      スタッフ募集中 未経験歓迎 緑豊かな自然の中で一緒に働きましょう
    </div>
  </div>

   <div class="tweet">
    <div class="tweet__name">
      Gypsy’s mile cafe
    </div>

    <div class="tweet__image">
      <img width="310" height="232" src="http://kojincafe.com/wp-content/uploads/2020/04/E7F3FE80-E277-4DBE-B334-546D66D1CA41-310x232.jpeg" class="attachment-medium colorbox-13811  wp-post-image" alt="E7F3FE80-E277-4DBE-B334-546D66D1CA41">                </a>
    </div>
        
    <div class="tweet__text">
      群馬県前橋市　
      スタッフ募集中 未経験歓迎 緑豊かな自然の中で一緒に働きましょう
    </div>
  </div>

   <div class="tweet">
    <div class="tweet__name">
      Gypsy’s mile cafe
    </div>

    <div class="tweet__image">
      <img width="310" height="232" src="http://kojincafe.com/wp-content/uploads/2020/04/E7F3FE80-E277-4DBE-B334-546D66D1CA41-310x232.jpeg" class="attachment-medium colorbox-13811  wp-post-image" alt="E7F3FE80-E277-4DBE-B334-546D66D1CA41">                </a>
    </div>
        
    <div class="tweet__text">
      群馬県前橋市　
      スタッフ募集中 未経験歓迎 緑豊かな自然の中で一緒に働きましょう
    </div>
  </div>
 

</div>
